.layout_tag {
  height: 40px;
  padding: 0 20px;
  /deep/.el-tabs__header {
    margin: 0 0 0;
    .el-tabs__item {
      padding: 0 20px;
      border: none;
    }
  }
  /deep/.el-tabs__content {
    //内容
    display: none;
  }
  /deep/.el-tabs__nav-wrap::after {
    //下划线
    display: none;
  }
  /deep/.el-tabs--card > .el-tabs__header .el-tabs__nav {
    border: none;
  }
  // background-color: #eee;
  .tablist {
    border: none;
  }
  //tag 右键样式
  .tagControlBox {
    position: fixed;
    width: 120px;
    background-color: #fff;
    z-index: 1024;
    border-radius: 5px;
    box-shadow: 1px 2px 10px #ccc;
    .item {
      cursor: pointer;
      font-size: 14px;
      padding: 8px 20px 8px 15px;
      color: #606266;
      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &:hover {
        background-color: #409eff;
        color: #fff;
      }
    }
  }
  //遮罩
  .mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1023;
  }
  //右键会出现边框问题
  /deep/.el-tabs__item:focus.isactive.is-focus:not(:active) {
    box-shadow: unset;
  }
}
